@import "../../../assets/styles/mixins";
@import "../../../assets/styles/colors";
.res-table-section {
  background-color: $primary-dark-color;
  padding: 3.5rem 0;
  .reservation-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    max-width: 1000px;

    .reservation-title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      align-self: stretch;

      h2 {
        color: $text-light-color;
        font-family: Inika;
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: normal;
      }

      h4 {
        margin: 0;
        color: $primary-light-color;
        font-family: Inika;
        font-size: 27px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }

    .reservation-form {
      display: flex;
      flex-direction: column;
      gap: 40px;
      border-radius: 8px;
      padding: 10px;
      background: #c2ac97;
      width: 90%;

      .table-details-fieldset {
        border: 0;
        legend {
          font-family: Itim;
          font-size: 20px;
          font-weight: bold;
          line-height: normal;
        }

        .table-forms {
          display: grid;
          grid-template-columns: auto auto;

          label {
            font-family: Itim;
            font-size: 20px;
            font-weight: 400;
            line-height: normal;
          }

          .form-field {
            display: flex;
            align-items: flex-start;
            border-radius: 8px;
            border: 0px;
            padding: 8px;
            width: 90%;
            flex-direction: column;
            justify-content: flex-start;

            input {
              display: flex;
              flex-direction: row;
            }

            &.form-textarea {
              height: 100px;
              resize: vertical;
              grid-column: span 2;
            }
          }
        }
      }

      .user-details-fieldset {
        border: 0;
        legend {
          font-family: Itim;
          font-size: 20px;
          font-weight: bold;
          line-height: normal;
        }

        .user-form {
          display: grid;
          grid-template-areas:
            "fname lname"
            "email phone"
            "specialRequest specialRequest";
          justify-items: center;

          label {
            font-family: Itim;
            font-size: 20px;
            font-weight: 400;
            line-height: normal;
          }

          .form-field {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            border-radius: 8px;
            border: 0px;
            padding: 8px;
            width: 90%;
          }
        }
      }
    }
    .form-fields {
      display: flex;
      justify-content: center;
    }
  }
}
@include breakpoint-mobile {
  .reservation-page {
    .reservation-form {
      gap: 10px;
      .user-details-fieldset .user-form {
        display: flex;
        flex-direction: column;
      }
      .table-details-fieldset {
        .table-forms {
          display: grid;
          grid-template-columns: auto;
        }
      }
    }
  }
}
