@import "../../assets/styles/mixins";

:root {
  --bg-img: none;
}

.container {
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: inherit;
  max-width: 768px;
  background: var(--bg-img);
}

@include breakpoint-mobile {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@include breakpoint-laptop {
  .container {
    max-width: 768px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@include breakpoint-tablet {
  .container {
    max-width: 608px;
    padding-left: 10;
    padding-right: 10px;
  }
}
