@import "../../../assets/styles/mixins";

.confirmation-page {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.42),
      rgba(0, 0, 0, 0.73)
    ),
    url("../../../assets/images/restaurant.jpg");
  --bg-img: inherit;
  width: 100%;
  background-size: cover;
  padding: 3.5rem 0;
  background-color: blanchedalmond;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;

  .reservation-confirmation {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);

    .confirmation-header {
      background-color: black;
      padding: 20px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;

      h3 {
        color: #ffcc00;
        font-size: 24px;
        margin: 0;
      }

      p {
        color: #666;
        font-size: 16px;
        margin: 0;
      }
    }

    .confirmation-details {
      padding: 20px;

      .reservation-info {
        h4 {
          color: #333;
          font-size: 20px;
          margin-bottom: 10px;
        }

        table {
          width: 60%;
          margin: 0 auto;
          border-collapse: collapse;
          margin-top: 10px;

          th,
          td {
            text-align: center;
            padding: 10px;
            background-color: #f2f2f2;
            color: #333;
            border-bottom: 1px solid #ccc;
          }

          th {
            border-right: 1px solid #ccc;
            font-weight: bold;
          }
        }
      }

      .contact-info {
        h4 {
          color: #333;
          font-size: 20px;
          margin-bottom: 10px;
        }

        p {
          color: #666;
          font-size: 16px;
          margin: 0;

          strong {
            font-weight: 700;
          }
        }
      }
    }

    .closing-message {
      color: #333;
      font-size: 18px;
      padding: 20px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
