.header-inline {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 52px;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu-button {
  background-color: transparent;
  border: none;
  color: black;
  font-size: 20px;
  cursor: pointer;

  &:hover {
    color: gray;
  }
}

header {
  height: 52px;
  margin-bottom: 0.2rem;
  color: black;
  flex-grow: 0;
}

.header-logo {
  flex-grow: 0;
}

.NavBar {
  flex-grow: 1;
  margin-top: 0.5rem;
}
