@import "../../../../assets/styles/mixins";

.testimonals-section {
  background-color: gray;
  padding: 10rem 0;

  .testimonials-title {
    display: grid;
    place-items: center;
    color: white;
    font-family: Markazi Text;
    font-size: 44px;
    font-weight: 600;
  }

  .cards-rating {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 30px;
    column-gap: 10px;
    align-items: start;
  }

  .testimonials-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
  }
}

@include breakpoint-mobile {
  .testimonals-section {
    padding: 3rem 0;
    .cards-rating {
      display: flex;
      align-items: flex-start;
      align-content: flex-start;
      row-gap: 30px;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
}

@include breakpoint-tablet {
  .testimonals-section {
    padding: 5rem 0;
    .cards-rating {
      display: flex;
      align-items: flex-start;
      align-content: flex-start;
      row-gap: 30px;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
}

@include breakpoint-laptop {
  .testimonals-section {
    padding: 7rem 0;
  }
}
