@import "../../../assets/styles/fonts";
@import "../../../assets/styles/colors";
@import "../../../assets/styles/mixins";
.about-block {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 37px;
}

.about-info {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
}

.about-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about-title h2 {
  color: #333;
  font-family: $display-title-font-family;
  font-size: 64px;

  font-weight: 700;
}

.about-title h3 {
  margin-top: -18px;
  color: #495e57;
  font-family: $display-title-font-family;
  font-size: 24px;
  font-weight: 400;
}

.about-desc {
  background-color: #f9f9f9;
  padding: 1.5rem;
  width: 50%;
  height: 100%;
  color: #333;
  font-family: "Inconsolata", monospace;
  font-size: 20px;
  font-style: normal;
  line-height: 1.6;
  border-radius: 8px;
}

.about-images {
  width: 500px;
}

.about-image-1 {
  margin-bottom: 100px;
}

.about-image-1,
.about-image-2 {
  width: 240px;
  height: 200px;
  flex-shrink: 0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.about-image-1:hover,
.about-image-2:hover {
  transform: scale(1.05);
}

.about-desc.collapsed {
  height: 150px;
  overflow: hidden;
}

.collapse-toggle {
  cursor: pointer;
  color: #007bff;
  font-weight: bold;
  margin-top: 10px;
}

.about-desc.collapsed {
  max-height: 150px;
  overflow: hidden;
  position: relative;
}

.read-more-button,
.read-less-button {
  color: rgb(51, 8, 8);
  cursor: pointer;
  display: block;
  text-align: center;
  margin-top: 1rem;
}

.read-less-button:hover,
.read-more-button:hover {
  color: rgb(122, 134, 8);
}

// @include breakpoint-desktop {
@media (max-width: 1135px) {
  .about-desc {
    width: 100%;
  }

  .about-image-1,
  .about-image-2 {
    margin-bottom: 10px;
    width: auto;
  }
}

@include breakpoint-mobile {
  .about-info {
    flex-direction: column;
  }
  .about-images {
    width: auto;
  }
  .about-desc {
    width: auto;
  }
}

@include breakpoint-tablet {
  .about-info {
    flex-direction: column;
  }
  .about-images {
    width: auto;
  }
  .about-desc {
    width: auto;
  }
}
