$primary-dark-color: #495e57;
$primary-light-color: #f4ce14;

$selected-dark-color: #ee9972;
$selected-light-color: #fbdabb;
$text-light-color: #edefee;
$text-dark-color: #333333;
$subtext-light-color: #d8d1cf;

$bg-color: #d8d1cf;
