$font-family-heading: Markazi Text, serif; // Markazi Text font
$font-family-paragraph: "Karla", sans-serif; // Karla font

$font-size-main: 3rem;

$display-title-font-family: "Markazi Text";
$display-title-font-weight: 500;
$display-title-font-size: 64px;

$subtitle-font-family: "Markazi Text", sans-serif;
$subtitle-font-weight: 400; // Regular
$subtitle-font-size: 40px;
